<div class="container">
	<% if flash[:error].blank? %>
		<% unless flash[:notice].blank? %>
			<div class="alert alert-info">
				<%=  flash[:notice] %>
			</div>
		<% end %>
	<% else %>
		<div class="alert alert-warning">
			<%=  flash[:error] %>
		</div>
	<% end %>


	<div class="well well-sm">	
		<div class="row">
			<div class="col-md-2">
				<%= label_tag(:username, "用户:"+session[:username] ,class:"label_inline") %> 
			</div>

			<div class="col-md-3">
				<%= label_tag(:in_come, "总收入: #{@all_income}" ,class:"label_inline") %> 
			</div>

			<div class="col-md-2">
				<%= label_tag(:out_come, "总支出: - #{@all_outcome}" ,class:"label_inline") %> 
			</div>

			<div class="col-md-1">
				<%= link_to "异常同步",accounting_user_sync_record_path,class: "btn btn-sm pull-right",method: "post" %>
			</div>

			<div class="col-md-4 btn-toolbar">
				<%= link_to "注销",accounting_login_out_path,class: "btn btn-sm pull-right",method: "post" %>
				<%= button_to "新增",accounting_new_path,class: "btn btn-primary btn-sm pull-right",method: "get" %>
			</div>
		</div>
	</div>

	<div class="well">
		<%= form_tag(accounting_search_submit_path, method: "get",name: "form") do %>
			<div class="row">
				<div class="col-md-3">
					<%= label_tag(:label1, "收支:",class:"label_inline") %> 
					<%= select_tag(:pay_symbol,options_for_select(dynamic_pay_symbol_tag,'全选')) %>
				</div>
				<div class="col-md-3">
					<%= label_tag(:label2, "消费类型:",class:"label_inline") %> 
					<%= select_tag(:consumption_type,options_for_select(dynamic_consumption_type_tag,'全选')) %>
				</div>
				<div class="col-md-3">
					<%= label_tag(:label3, "消费子类型:",class:"label_inline") %> 
					<%= select_tag(:consumption_sub_type,options_for_select(dynamic_consumption_sub_type_tag,'全选')) %> 
				</div>
				<div class="col-md-3">
					<%= label_tag(:label4, "支付方式:",class:"label_inline") %> 
					<%= select_tag(:pay_method,options_for_select(dynamic_pay_method_tag,'全选')) %>
				</div>
				<div class="col-md-5">
					<%= label_tag(:label5, "金额范围:",class:"label_inline") %> 
					<%= number_field_tag(:pay_amount_beg, 0.0, min: 0) %>
					-
					<%= number_field_tag(:pay_amount_end, 0.0, min: 0) %>
				</div>
				<div class="col-md-3">
					<%= label_tag(:label6, "伙伴:",class:"label_inline") %> 
					<%= text_field_tag(:pay_partner,nil, placeholder: '输入模糊匹配') %>
				</div>
				<div class="col-md-4">
					<%= label_tag(:label7, "备注:",class:"label_inline") %> 
					<%= text_field_tag(:pay_reason,nil, placeholder: '输入模糊匹配') %>
				</div>
				<div class="col-md-11">
					<%= label_tag(:label8, "日期范围:",class:"label_inline") %> 
					<%= date_field_tag(:pay_occurrence_date_beg,Time.now.strftime("%Y-%m-01")) %>
					to
					<%= date_field_tag(:pay_occurrence_date_end,Time.now.strftime("%Y-%m-%d")) %>
				</div>
				<div class="col-md-1">
					<%= button_to "提交",accounting_search_submit_path,class: "btn btn-primary btn-sm",method: "get" %>
				</div>
			</div>
		<% end %>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>日期</th>
						<th>收支</th>
						<th>金额</th>
						<th>支付方式</th>
						<th>消费类型</th>
						<th>备注</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>查询合计</td>
						<td>收入</td>
						<td>
							<% if @search_income.blank? %>
								0.0
							<% else %>
								<%= @search_income %>
							<% end %>
						</td>
						<td>支出</td>
						<td>
							- 
							<% if @search_outcome.blank? %>
								0.0
							<% else %>
								<%= @search_outcome %>
							<% end %>
						</td>
						<td></td>
						<td></td>
					</tr>
					<% page_income=0.0;page_outcome=0.0 %>
					<% @ars.each do |ar| %>
						<tr>
							<td><%= ar.pay_occurrence_time %></td>
							<td><%= ar.pay_symbol %></td>
							<td>
								<% if ar.pay_symbol=="支出" %>
									- 
									<% page_outcome+=ar.pay_amount %>
								<% else %>
									+ 
									<% page_income+=ar.pay_amount %>
								<% end %>					
								<%= "#{ar.pay_amount} #{ar.pay_currency}" %>
							</td>
							<td><%= ar.pay_method %></td>
							<td> 
								<% if ar.consumption_sub_type.blank? %>
									<%= ar.consumption_type %>
								<% else %>
									<%= ar.consumption_sub_type %>
								<% end %>
							</td>
							<td> <%= ar.pay_reason %> </td>
							<td>	
								<%= link_to "详情",accounting_new_path(ar_id: ar.id) ,method: "get" %>
								<%= link_to "删除",accounting_delete_submit_path(ar.id),method: "post",data: { confirm: "请确认是否删除?\n#{ar.pay_occurrence_time}: #{ar.pay_symbol} #{ar.pay_amount}" } %>
							</td>
						</tr>
					<% end %>

					<tr>
						<td>当页合计</td>
						<td>收入</td>
						<td>
							<% if page_income.blank? %>
								0.0
							<% else %>
								<%= page_income %>
							<% end %>
						</td>
						<td>支出</td>
						<td>
							- 
							<% if page_outcome.blank? %>
								0.0
							<% else %>
								<%= page_outcome %>
							<% end %>
						</td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>


			<div class="text-center"> 
				<%= paginate @ars %> 
			</div>
		</div>
	</div>
</div>